{% extends 'base.html' %}

{% block title %}Ajouter un livre{% endblock %}

{% block content %}
    <h1>Ajouter un livre</h1>
    <form method="POST" action="/ajouter_livre">
        <label for="titre">Titre :</label>
        <input type="text" id="titre" name="titre" required><br>

        <label for="id auteur">ID Auteur :</label>
        <input type="number" id="id auteur" name="id_auteur" required><br>

        <label for="date de publication">Date de publication :</label>
        <input type="date" id="date de publication" name="date_publication" required><br>

        <label for="genre">Genre :</label>
        <input type="text" id="genre" name="genre" required><br>

        <button type="submit">Ajouter</button>
    </form>
{% endblock %}